<script lang="ts">
import { defineComponent, watchEffect } from "vue";
import { useRouter } from "vue-router";
import usePostsData from "../composables/usePostsData";
import useUsersData from "../composables/useUsersData";
import truncate from "../directives/truncate";

export default defineComponent({
  name: "PostList",
  emits: {
    clicked: null
  },
  setup(props, { emit }) {
    const router = useRouter();
    const { posts, getPosts } = usePostsData();
    const { getUsers, getAuthorName } = useUsersData();

    watchEffect(() => {
      getPosts();
      getUsers();
    })

    const openDetails = (id: number) => {
      router.push({ path: `/details/post/${id}` });
      emit('clicked');
    };

    return { posts, getAuthorName, openDetails };
  },
  directives: {
    "limit-text": truncate,
  },
});
</script>

<template>
  <div class="row">
    <div class="col-8 m-auto">
      <div class="card">
        <div class="card-header">Post list</div>
        <div class="card-body">
          <div class="row border-bottom my-2 p-1">
            <div class="col-6"><b>Title</b></div>
            <div class="col-4"><b>Author</b></div>
            <div class="col-2"><b>Action</b></div>
          </div>
          <div
            class="row border-bottom my-2 p-1"
            v-for="post in posts"
            :key="post.id"
          >
            <div class="col-6" v-limit-text="30">{{ post.title }}</div>
            <div class="col-4">{{ getAuthorName(post.userId) }}</div>
            <div class="col-2">
              <button
                class="btn btn-primary btn-sm"
                @click="openDetails(post.id)"
              >
                Show Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
