<script lang="ts">
import { defineComponent, PropType, provide, watchEffect } from "vue";
import { useRouter } from "vue-router";
import { Post } from "../interfaces/post";
import useUsersData from "../composables/useUsersData";
import useCommentsData from "../composables/useCommentsData";

export default defineComponent({
  name: "PostItem",
  props: {
    post: {
      type: Object as PropType<Post>,
      required: true,
    },
  },
  setup(props) {
    const router = useRouter();
    const { getUsers, getAuthorName } = useUsersData();
    const { comments, getComments } = useCommentsData();

    watchEffect(() => {
      getUsers();
      getComments(props.post.id);
    });

    const goToAuthor = () => {
      router.push({ name: "user", params: { id: props.post.userId } });
    };

    provide("post", props.post);

    return { comments, getAuthorName, goToAuthor };
  },
});
</script>

<template>
  <div class="row">
    <div class="col-8 m-auto">
      <div class="card">
        <div class="card-header">Post Details</div>
        <div class="card-body">
          <div class="row p-1">
            <div class="col-12"><b>Post Title:</b></div>
            <div class="col-12">{{ post.title }}</div>
          </div>
          <div class="row my-2 p-1">
            <div class="col-12"><b>Post Author:</b></div>
            <div class="col-12">
              <a @click="goToAuthor" style="cursor:pointer;">
                {{ getAuthorName(post.userId) }}
              </a>
            </div>
          </div>
          <div class="row my-2 p-1">
            <div class="col-12"><b>Post Content:</b></div>
            <div class="col-12">{{ post.body }}</div>
          </div>
          <div class="row my-2 p-1">
            <div class="col-12"><b>Post Comments:</b></div>
            <div>
              <div
                class="row border-bottom mx-3 px-1"
                v-for="comment in comments"
                :key="comment.id"
              >
                <div class="col-4 p-2"><b>Email:</b></div>
                <div class="col-8 p-2">{{ comment.email }}</div>
                <div class="col-4 p-2"><b>Name:</b></div>
                <div class="col-8 p-2">{{ comment.name }}</div>
                <div class="col-4 p-2"><b>Comment:</b></div>
                <div class="col-8 p-2">{{ comment.body }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
