<script lang="ts">
import { defineComponent, PropType } from "vue";
import { User } from "../interfaces/users";

export default defineComponent({
  name: "UserDetails",
  props: {
    user: {
      type: Object as PropType<User>,
      required: true,
    },
  },
});
</script>

<template>
  <div>
    <div class="row">
      <div class="col-8 m-auto">
        <div class="card">
          <div class="card-header">Author Details</div>
          <div class="card-body">
            <div class="row my-2 p-1">
              <div class="col-4"><b>Author:</b></div>
              <div class="col-8">{{ user.name }}</div>
            </div>
            <div class="row my-2 p-1">
              <div class="col-4"><b>Email:</b></div>
              <div class="col-8">{{ user.email }}</div>
            </div>
            <div class="row my-2 p-1">
              <div class="col-4"><b>Address:</b></div>
              <div class="col-8">
                <div class="row my-2 p-1">
                  <div class="col-4"><b>Street:</b></div>
                  <div class="col-8">{{ user.address.street }}</div>
                  <div class="col-4"><b>Suite:</b></div>
                  <div class="col-8">{{ user.address.suite }}</div>
                  <div class="col-4"><b>City:</b></div>
                  <div class="col-8">{{ user.address.city }}</div>
                  <div class="col-4"><b>Zipcode:</b></div>
                  <div class="col-8">{{ user.address.zipcode }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
